<h1>ホテル・待ち合わせガイド</h1>
<% if admin_signed_in? %>
<h2>新規登録</h2>
<%= render 'form' %>
  <% if @location.latitude.present? %>
    <%= image_tag("http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}") %>
  <% end %>
<% end %>
  <% @locations.each do |location| %>
  <% if location.location_type == "hotel" %>
  <i class="fa fa-building-o fa-lg bluecage"></i>
  <% else %>
  <i class="fa fa-female fa-lg redcage"></i>
  <% end %>
  
  <%= location.location_name %><br><%= location.address %>
      <% if admin_signed_in? %>
        (<%= link_to "編集",edit_userlocation_path(location) %>)
        (<%= link_to "削除",location, method: :delete, 
                  data: { confirm: '削除してもよろしいですか？' } %>)
      <% end %>
    <br>
  <% end %>
