<h2><%= @cast.name %><small>&nbsp;(<%= @cast.age %>)</small></h2>
T<%= @cast.tall %>&nbsp;B<%= @cast.b %>(<%= @cast.cup %>)&nbsp;W<%= @cast.w %>&nbspH<%= @cast.hip %>

<table class="table table-striped">
<% if admin_signed_in? %>
  <thead>
    <tr>
      <th>項目</th>
      <th>内容</th>
      <th>表示順</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
    <tr>
      <th><%= profile.pr_item %></th>
      <td><%= profile.pr_body %></td>
      <td><%= profile.pr_no %></td>
      <td>
        (<%= link_to "削除" , destroy_profile_casts_path(id: profile.pr_no) , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>)
      </td>
    </tr>
    <% end %>
  </tbody>
<% else%>
  <tbody>
    <% @profiles.each do |profile| %>
    <tr>
      <th><%= profile.pr_item %></th>
      <td><%= profile.pr_body %></td>
    </tr>
    <% end %>
  </tbody>
<% end %>
</table>

<h3>キャストからのメッセージ</h3>
<%= @cast.message %>
<h3>店長コメント</h3>
<%= @cast.comment %>


<% if admin_signed_in? %>
<h4>プロフィール詳細追加</h4>
  <%= form_for(Profile.new, :url => {:controller => :casts, :action => :create_profile},html: {:class => 'form-horizontal'}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :項目, class: "col-xs-2 control-label" %>
      <div class="col-xs-10"><%= f.text_field :pr_item, class: "form-control" %></div>
    </div>
    
    <div class="form-group">
      <%= f.label :内容, class: "col-xs-2 control-label" %>
      <div class="col-xs-10"><%= f.text_field :pr_body, class: "form-control" %></div>
    </div>
    
    <div class="form-group">
      <%= f.label :表示順, class: "col-xs-2 control-label" %>
      <div class="col-xs-10"><%= f.text_field :pr_no, class: "form-control" %></div>
    </div>

    <%= f.hidden_field :cast_id, :value => @cast.id %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <%= f.submit "登録",class: "btn btn-primary btn-block form-control" %>  
      </div>
    </div>
  <% end %>
<% end %>